<div class="animated fadeIn card container with-scroll">
  <div class="card-header row" style="height: 54px"> <!-- 覆盖默认的44px高度-->
    <div class="col-md-8">
      <span style="padding-left: 6px">From&nbsp;</span>:
      <p-calendar [(ngModel)]="from" dateFormat="yy-mm-dd" (onSelect) = "onSelect($event)"  ngDefaultControl></p-calendar>
      To:&nbsp;
      <p-calendar [(ngModel)]="to" dateFormat="yy-mm-dd" (onSelect) = "onSelect($event)"  ngDefaultControl></p-calendar>
      <button class="btn btn-warning" (click)="doQuery()">查询</button>
    </div>
    <div class="col-md-4 text-right">
      <button class="btn btn-primary" (click)="export2Csv()">导出</button>
    </div>
  </div>
  <div class="card-body row">
    <div class="col-md-12">
      <ng2-smart-table [settings]="settings" [source]="dataSource"></ng2-smart-table>
    </div>
  </div>
</div>
<p-growl name="message" [value]="msgs"></p-growl>
